body{
    background-color: #d4f3ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #01125b;
}

h1{
    color: #01125b;
    text-align: center;
}
.symp{
    font-size: 16px;
}
#sui{

}
#search-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-size: 15px;
  }
  
#search-bar li {
    float: left;
  }
  
#search-bar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    background-color: #0166a1;
}
#search-bar li a:hover{
    background-color: #01125b;
  }
  
#search-bar li a:active {
    background-color: #61b5fa;
    color: #01125b;
  }

.sep{
  display: flex;
}
#other{
  width: 83%;
}
#nsw{
  width: 15%;
  height: 100%;
  float: left;
  padding: 0px 10px;
  background-color: #0166a1;
  color:#d4f3ff;
  position: fixed;
  top: 0px;
  right: 0px;
}
